:root {
  --grass-h: 200px;
}

body {
  background-color: lightblue;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.player,
.grass,
.trap,
.finish {
  position: absolute;
}

.player {
  width: 50px;
  height: 100px;
  background-color: red;
  bottom: var(--grass-h);
  /* transition: 300ms ease-out; */
  left: 0px;
  z-index: 1;
}

.grass {
  height: var(--grass-h);
  width: 100vw;
  background-color: green;
  left: 0;
  bottom: 0;
}

.trap {
  width: 50px;
  height: 15px;
  background-color: gray;
  left: 300px;
  bottom: var(--grass-h);
}

.finish {
  width: 50px;
  height: 150px;
  right: 60px;
  background-image: url("https://phonoteka.org/uploads/posts/2022-02/thumbs/1644983909_2-phonoteka-org-p-shakhmatnoe-pole-fon-3.jpg");
  background-size: cover;
  bottom: var(--grass-h);
}

.instruction {
  margin: 15px;
}

ul li {
  margin-bottom: 5px;
}

ul li span {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 4px;
  color: #FFF;
  display: inline-block;
  border: 3px solid white;
}